@font-face {
  font-family: 'alarm clock';
  src: url("../fonts/alarmclock.eot");
  src: url("../fonts/alarmclock.eot?#iefix") format("embedded-opentype"), url("../fonts/alarmclock.woff") format("woff"), url("../fonts/alarmclock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  max-width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #222222;
  border: 1px solid white;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 1px solid white;
  background-color: white;
}

body {
  background: url(../img/main_two.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  overflow-X: hidden;
}

html {
  scroll-behavior: smooth;
}

.little_menu,
.navbar,
.home,
.portfolio,
.about,
.contact,
.end {
  overflow-x: hidden;
}

.little_menu {
  display: none;
  position: fixed;
  top: 15px;
  left: 3%;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 200;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-Y: hidden;
}

.little_menu .ms {
  position: relative;
  width: 100%;
  border: 1px solid white;
  height: 0px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  background-color: white;
}

.little_menu .span1 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.little_menu .span2 {
  opacity: 1;
}

.little_menu .span3 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.little_menu .span_add {
  border: 1px solid yellowgreen;
  background-color: yellowgreen;
}

.little_menu .span1_add {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.little_menu .span2_add {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.little_menu .span3_add {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow-y: hidden;
}

.navbar .grand_menu {
  position: fixed;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .grand_menu li {
  text-align: center;
  padding: 10px 25px;
}

.navbar .grand_menu li .nav {
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b9b9b9;
  font-family: "Nunito Sans";
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.navbar .grand_menu li .nav span {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 0px solid white;
  width: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .grand_menu li .nav:hover {
  color: yellowgreen !important;
}

.navbar .grand_menu li .nav_span span {
  border: 0.5px solid yellowgreen;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home {
  padding: 0px 0px;
}

.bio {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-top: -50px;
}

.bio p {
  margin-top: 90px;
  color: white;
  font-family: "Nunito Sans";
  font-size: 45px;
  font-weight: 0;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
}

.bio h1 {
  text-align: center;
  padding: 30px 0px;
  color: white;
  font-family: "Nunito Sans";
  font-size: 60px;
  font-weight: 600;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
}

.bio span {
  text-align: center;
  color: lightgray;
  font-family: "Nunito Sans";
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 100;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
}

section {
  position: relative;
  margin: 0;
  padding: 0px 200px;
  width: 100%;
  height: auto;
}

.news {
  width: 100%;
  height: 600px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.news h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
}

.news .swiper {
  height: auto;
  max-height: 90%;
}

.news .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.news .swiper-slide img {
  display: block;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news .swiper {
  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  width: 100%;
  height: auto;
  position: relative;
  padding: 50px 0px;
  overflow-y: hidden;
}

.portfolio .head {
  width: 100%;
  height: auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .head h1 {
  text-align: center;
  color: lightgray;
  font-family: "Nunito Sans";
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 300;
}

.portfolio .head h1 strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}

.portfolio .main {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
}

.portfolio .main a {
  width: 400px;
  position: relative;
  margin-top: 20px;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 0px white;
          box-shadow: 0px 0px 0px white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.portfolio .main a:hover {
  -webkit-box-shadow: 0px 5px 10px white;
          box-shadow: 0px 5px 10px white;
}

.portfolio .main a div {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.portfolio .main a div img {
  width: 100%;
}

.portfolio .main a div h2 {
  color: white;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 100;
  padding: 5px 0px;
}

.portfolio .main a div p {
  color: white;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: 100;
  padding: 5px 0px;
}

.about {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0px;
}

.about .left {
  position: relative;
  width: 600px;
  height: auto;
  overflow: hidden;
}

.about .left img {
  width: 100%;
}

.about .right {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0px 50px 0px;
}

.about .right h2 {
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
}

.about .right p {
  color: #b9b9b9;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 100;
}

.about .right a {
  display: block;
  text-decoration: none;
  width: 120px;
  height: 35px;
  padding: 5px 16px;
  border-radius: 20px;
  border: none;
  font-family: "Nunito Sans";
  font-weight: 600;
  color: #222222;
  background: white;
}

.about .right a:hover {
  background: #b6b6b6;
}

.about-frontend {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.about-frontend .row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-frontend .row:nth-child(1) {
  padding: 10px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-frontend .row:nth-child(1) h2 {
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

.about-frontend .row:nth-child(1) h2 strong {
  font-weight: 700;
}

.about-frontend .row:nth-child(2) {
  min-height: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.about-frontend .row:nth-child(2) div {
  padding-left: 0px;
  position: relative;
  margin: 20px;
  width: 300px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(128, 128, 128, 0.534);
  overflow: hidden;
}

.about-frontend .row:nth-child(2) div div {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0px;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-frontend .row:nth-child(2) div div span {
  position: absolute;
  left: -100%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "alarm clock";
  font-weight: 600;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.about-frontend .row:nth-child(2) div div i, .about-frontend .row:nth-child(2) div div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
}

.about-frontend .row:nth-child(2) ._html div {
  background-color: #CB4725;
}

.about-frontend .row:nth-child(2) ._html .add1 {
  width: 80%;
}

.about-frontend .row:nth-child(2) ._html .add1 span {
  left: 50%;
}

.about-frontend .row:nth-child(2) ._css div {
  background-color: #40A0ED;
}

.about-frontend .row:nth-child(2) ._css .add2 {
  width: 70%;
}

.about-frontend .row:nth-child(2) ._css .add2 span {
  left: 50%;
}

.about-frontend .row:nth-child(2) ._scss div {
  background-color: #A8345B;
}

.about-frontend .row:nth-child(2) ._scss .add3 {
  width: 70%;
}

.about-frontend .row:nth-child(2) ._scss .add3 span {
  left: 50%;
}

.about-frontend .row:nth-child(2) ._bootstrap div {
  background-color: #8011F9;
}

.about-frontend .row:nth-child(2) ._bootstrap .add4 {
  width: 60%;
}

.about-frontend .row:nth-child(2) ._bootstrap .add4 span {
  left: 50%;
}

.about-frontend .row:nth-child(2) ._javascript div {
  background-color: #FFCA28;
}

.about-frontend .row:nth-child(2) ._javascript .add5 {
  width: 60%;
}

.about-frontend .row:nth-child(2) ._javascript .add5 span {
  left: 50%;
}

.about-frontend .row:nth-child(2) ._jquery div {
  background-color: #1068AA;
}

.about-frontend .row:nth-child(2) ._jquery .add6 {
  width: 75%;
}

.about-frontend .row:nth-child(2) ._jquery .add6 span {
  left: 50%;
}

.contact {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0px;
}

.contact .head {
  width: 100%;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .head h2 {
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
}

.contact .contact_main {
  width: 100%;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact_main .mail {
  position: relative;
  width: 620px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact_main .mail h1 {
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0px;
}

.contact .contact_main .mail form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact_main .mail form #name, .contact .contact_main .mail form #email, .contact .contact_main .mail form #phone {
  margin-top: 15px;
  width: 100%;
  padding: 16px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #333333;
  font-family: "Nunito Sans";
  color: #b9b9b9;
}

.contact .contact_main .mail form #name::-webkit-input-placeholder, .contact .contact_main .mail form #email::-webkit-input-placeholder, .contact .contact_main .mail form #phone::-webkit-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #name:-ms-input-placeholder, .contact .contact_main .mail form #email:-ms-input-placeholder, .contact .contact_main .mail form #phone:-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #name::-ms-input-placeholder, .contact .contact_main .mail form #email::-ms-input-placeholder, .contact .contact_main .mail form #phone::-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #name::placeholder, .contact .contact_main .mail form #email::placeholder, .contact .contact_main .mail form #phone::placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #message {
  margin-top: 15px;
  width: 100%;
  height: 280px;
  padding: 16px 10px;
  border-radius: 6px;
  border: none;
  color: #b9b9b9;
  outline: none;
  background: #333333;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #message::-webkit-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #message:-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #message::-ms-input-placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail form #message::placeholder {
  color: #b9b9b9;
  font-family: "Nunito Sans";
}

.contact .contact_main .mail #submit {
  margin-top: 30px;
  width: 180px;
  padding: 18px;
  text-align: center;
  border-radius: 30px;
  outline: none;
  border: none;
  background: #BAC964;
  color: white;
  letter-spacing: 3px;
  font-size: 12px;
  cursor: pointer;
}

.contact .contact_main .adres {
  width: 500px;
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 0px 0px 50px;
}

.contact .contact_main .adres .location {
  width: 100%;
  height: 240px;
}

.contact .contact_main .adres .location iframe {
  width: 100%;
  height: 100%;
}

.contact .contact_main .adres h1 {
  position: relative;
  color: white;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 100;
  padding: 20px 0px;
}

.contact .contact_main .adres ul {
  margin-top: 15px;
  list-style: none;
  color: #30415e;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Nunito Sans";
}

.contact .contact_main .adres ul li {
  margin-top: 10px;
  color: #a7a5a5;
  text-transform: none;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Nunito Sans";
  width: 200px;
  line-height: 22px;
}

.contact .contact_main .adres ul li a {
  text-decoration: none;
  color: #a7a5a5;
}

.end {
  position: relative;
  margin: 0px auto;
  min-height: 50px;
  width: 85%;
  border-top: 0.5px solid #b9b9b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

.end h2 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #b9b9b9;
  font-family: "Nunito Sans";
  font-weight: 100;
}

@media screen and (max-width: 1366px) {
  section {
    padding: 0px 100px;
  }
}

@media screen and (max-width: 1200px) {
  .about .left {
    width: 400px;
  }
  .about .right {
    width: 350px;
  }
}

@media screen and (max-width: 1150px) {
  .portfolio .main div {
    width: 300px;
  }
  .portfolio .main div h2 {
    font-size: 20px;
  }
  .portfolio .main div p {
    font-size: 10px;
  }
  .contact .contact_main .mail {
    width: 500px;
  }
  .contact .contact_main .adres {
    width: 400px;
  }
}

@media screen and (max-width: 980px) {
  .news .swiper {
    width: 60%;
  }
  .portfolio {
    padding: 40px 40px;
  }
  .bio {
    background-size: auto 120%;
  }
  .bio p {
    font-size: 30px;
  }
  .bio h1 {
    font-size: 40px;
  }
  .bio span {
    font-size: 10px;
  }
  .about .right {
    padding: 50px 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .right p {
    text-align: center;
  }
  .contact .contact_main .mail {
    width: 400px;
  }
  .contact .contact_main .adres {
    width: 300px;
  }
}

@media screen and (max-width: 750px) {
  section {
    padding: 0px 0px;
  }
  .news .swiper {
    width: 70%;
  }
  .contact .contact_main {
    padding: 0px 10px;
  }
  .contact .contact_main .mail {
    width: 270px;
  }
  .contact .contact_main .adres {
    width: 270px;
  }
}

@media screen and (max-width: 560px) {
  body {
    background-size: auto 720px;
  }
  .bio {
    height: 100vh;
    background: url("../img/bio2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bio p {
    font-size: 30px;
  }
  .bio h1 {
    font-size: 40px;
  }
  .bio span {
    font-size: 10px;
  }
  .news {
    height: 100vh;
  }
  .news .swiper {
    width: 80%;
  }
  .portfolio {
    padding: 40px 5px;
  }
  .portfolio .main a {
    width: 250px;
  }
  .little_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 160px;
    top: -160px;
    width: 100%;
  }
  .navbar .grand_menu {
    display: block;
  }
  .navbar .grand_menu li {
    padding: 3px 6px;
  }
  .navbar .grand_menu li a {
    font-size: 12px;
  }
  .open {
    top: 0%;
    position: fixed;
  }
  .about {
    padding: 50px 10px;
  }
  .about .left {
    width: 100%;
  }
  .contact .head h2 {
    font-size: 18px;
  }
  .contact .contact_main {
    padding: 0px 10px;
  }
  .contact .contact_main .mail h1 {
    font-size: 18px;
  }
  .contact .contact_main .mail #submit {
    width: 120px;
    font-size: 8px;
    padding: 10px;
  }
  .contact .contact_main .adres {
    padding: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact .contact_main .adres h1 {
    font-size: 18px;
  }
  .sms div {
    padding: 100px 50px;
    width: 82%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .news .swiper {
    width: 90%;
  }
  .contact .contact_main .mail {
    width: 100%;
  }
  .contact .contact_main .adres {
    width: 100%;
  }
  .end {
    height: 50px;
  }
}
/*# sourceMappingURL=style.css.map */